a {
 	
    border: none;
    display: inline-block;
    color: white;
    font-size: 15px;
    font-family: garamond;
    padding: 1px 15px 1px 20px;
    text-align: center;
    text-decoration: none;

}

a:hover {
  background-color: white;
  border-radius: 4px;
  color:black;
  padding: 8px 15px 8px 20px ;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

body {
background-image: url("../img/background.jpg");
width: 90%;

}

#button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    float: right;
    color:white;
    cursor:pointer;
    overflow: hidden;
    outline:none;

}

.button {
   background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    display: inline-block;
    color:white;
    cursor:pointer;
    overflow: hidden;
    outline:none;

}

.button ul li { 
  display: inline-block; 
}

#button ul li { 
	display: inline; 
}
/*

#home {
    background-color: transparent;
    color: white;
    border: 1px solid white; 
    padding: 8px;
    border-radius: 5px;
}
#home:hover {

  background-color: white;
  color: black;
}

#portfolio {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 8px 8px 8px 8px;
    border-radius: 5px;
}
*/
#contact {
  background-color: transparent;
  border-radius: 4px;
  color: white;
  padding: 8px;
  margin: 1px 1px 1px 15px;
  border: 1px solid white;
  

}

#contact:hover {
  background-color: white;
  color:black;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;



}

.dev p{
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  padding: 100px 0;
  margin: 30px;

}
/*
.dev h1 {
  color: white;
  align-items: center;
  padding: 20px 10px 20px 20px;
  background-color: white;
}
*/


.dev h1 {
  align-items: center;
  color:white;
  display: flex;
  font-size: 80px;
  font-family: sans-serif;
  justify-content: center;
  padding: 20px 10px 20px 20px;
  width: 100%;

}

.dev h1:hover {
  background-color: white;
  border-radius: 8px;
  color: black;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}


#h2 {
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  padding: 10px;
  float: left;
  
}

#h2:hover:after{
  background-color: white;
  transform: emerson;
  color: black;
  content: 'thats supposed to be a logo';
}

/*adicona um novo centeudo ao passar o mouse you can also use :before*/
/*
#h2:hover:before{
  background-color: white;
  transform: emerson;
  color: black;
  content: 'Emerson Lopes';
  align-items: center;
}
*/




